[Unit]
Description=robot
After=sound.target

[Service]
User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/pupperv3-monorepo/robot/utils/robot.sh
CapabilityBoundingSet=CAP_SYS_NICE
LimitRTPRIO=infinity
LimitCPU=infinity

[Install]
WantedBy=multi-user.target
